.row {width: 100%;}

@media (min-width: 992px) {
 .col-lg-4 {width: 33.33%;}
}
@media (min-width: 768px) and (max-width: 992px) {

 .col-md-6 {width: 50%;}
 .col-md-12 {width: 100%;}
}
@media (max-width: 768px) {

 .col-sm-12 {width: 100%;}
}


.item {
 float: left;
 position: relative;
}

.item-wrap {
 position: relative;
 border: 2px solid rgb(113, 140, 113);
 border-radius: 5px;
 margin: 10px;
}

.item-wrap div {
 position: absolute;
 top: 0;
 right: 0;
 padding: 10px;
 font-size: 18px;
 font-family: "Verdana",sans-serif;
 border-radius: 5px;
}

.first {
 background-color: rgb(110, 84, 222);
 color: rgb(208, 239, 235);
}

.second {
 background-color: rgb(222, 134, 222);
 color: rgb(208, 239, 235);
}

.third {
 background-color: rgb(211, 106, 106);
 color: rgb(208, 239, 235);
}


.item-wrap p {margin: 50px 20px 20px 20px;}

h1 {text-align: center;}