li{
    list-style: none;
  }

  a.as:link, a.as:visited{
    text-decoration:none;
    background-color: blue;
    border: 1px solid black;
    color:white;
    display:block;
    width:250px;
    text-align: center;
    margin-bottom: 1px;
    }

  a.as:hover
  {
    background-color: magenta;
    color: black;
  }
  a.as:active{
  background-color: yellow;
  color:brown;
}


  
  .fh{
  
    background-color: yellow ;
    color:green;
  }
  .gh{
    background-color:rgb(184, 255, 200); ;
    color:red;
  }   
  .kh{
    background-color:rgb(151, 120, 221) ;
    color:whitesmoke;
  }
  .nh{
    background-color:rgb(230, 160, 128); ;
    color:rgb(98, 0, 255);
  }
  .mh{
    background-color: rgb(255, 220, 249);
    color: rgb(255, 102, 0);
  }
  .h1h{
    text-align: center;
    font-size: 22px;
  }
  .vh{
    font-style: italic;
  }
  .zmist{
       text-align: center;
  }
  
  .uh{
    font-weight: bold;
  }
 .pa{
    font-size: 120%;
  }
  .ch{
    font-size: 240%;
  }

.zmi{font-weight: bold;}
.transform{text-transform: uppercase;}

  
  table.an{
    border: 2px solid black;
  }
  tr:nth-last-child(2){
background-color: gray;
}
tr:nth-last-child(4){
background-color: gray;
}
th, td {
    border-style: solid;
    border-color: rgb(0, 0, 0);}
.h1f{
font-size: 22px;
text-align: center;
}
.h2f{
text-align: center;
}
.jk{
font-style: italic;
}
.bb{
text-align: center;
background-color: rgb(141, 239, 141);
font-weight: bold;
color:red;
}
.za{text-align: right;}



@media (min-width: 993px) {
    div th{
        font-size: 110%;
    }
    }
    @media (max-width: 768px) {
        div th{
            font-size: 130%;
        }
        div td{
            font-size: 120%;
        }
        }
        @media (min-width: 768px) and (max-width: 992px) {
            div th{
                font-size: 120%;
            }
            div td{
                font-size: 110%;
            }
            }
 





  .h1a{
    text-align: center;
    font-size: 20px; 
 }
 .h2a{
    text-align: center;
 }
 .ka{
    text-align: center;
    font-size: 70%;
 }
 .kb{
   text-align: center;
   font-size: 130%;
 }
 .kc{
    text-align: center;
    font-size: 169%;
 }
 .cimg{
    display: block;
    margin: 0 auto;
 }
  


 .msa{color:brown;}
 .msa:visited{color: aquamarine;}
 .x{color:red;}
 .x:visited{color: blue;}
 .c{color:orange;}
 .c:visited{color:blueviolet;}
 .vi{color:yellow;}
 .vi:visited{color: olivedrab;}

.h1i{
font-size: 24px; 
text-align: center;
}
  






  .qw li:nth-child(odd){
    background-color: gray;
}
.qw li:nth-child(even) {
    background-color: white;
} 
.er li:nth-child(4){
    background-color: rgb(184, 255, 200);
}
.er li:nth-child(3){
    cursor: pointer;
}
.er li:nth-child(5){
    cursor: pointer;
}
        
.h1c{
  text-align: center;
  font-size: 22px;
}

.h2c{
  text-align: center;
}
.ab{
   font-style: italic;
}






.row {
    width: 100%;
    }
    /* Large devices */
    @media (min-width: 993px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
    .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .flex-container{
        display: flex;
        flex-wrap: wrap;
    }
    .flex-item{
        width: 33.3%;
    }
    .item-1{
        border: 1px solid black;
        background-color: yellow; 
    }
    .item-2{
        border: 1px solid black;
        background-color: rgb(184, 255, 200);  
    }
    .item-3{
        border: 1px solid black;
        background-color:rgb(151, 120, 221);
        width: 32.7%;
    }
    .item-4{
        border: 1px solid black;
        background-color: rgb(230, 160, 128);
        width: 50%;
    }
    .item-5{
        border: 1px solid black;
        background-color: rgb(255, 220, 249);
        width: 49.5%;
    }
       
    
    div th{
        font-size: 130%;
    }
    div td{
        font-size: 120%;
    }
    img{
        width: 330px;
        height: 330px;
    }
    .col-lg-1{width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}    
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
    }
    /* Medium devices */
    @media (min-width: 768px) and (max-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
    .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    }
    .flex-container{
        display: flex;
        flex-wrap: wrap;
    }
    .flex-item{
        width: 49.7%;
    }
    .item-1{
        border: 1px solid black;
        background-color: yellow;
    }
    .item-2{
        border: 1px solid black;
        background-color: rgb(184, 255, 200);
    }
    .item-3{
        border: 1px solid black;
        background-color:rgb(151, 120, 221);
    }
    .item-4{
        border: 1px solid black;
        background-color: rgb(230, 160, 128);
    }
    .item-5{
        border: 1px solid black;
        background-color: rgb(255, 220, 249);
        width: 99.6%;
    }
    
    div th{
        font-size: 120%;
    }
    div td{
        font-size: 110%;
    }
    img{
        width: 400px;
        height: 400px;   
    }
    .ph{
        width: 990px;
        height: 930px;
    }
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.3%;}    
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}    
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
    
    }
    @media (max-width: 768px) {
        .col-ml-1, .col-ml-2, .col-ml-3, .col-ml-4, .col-ml-5, .col-ml-6, .col-ml-7, .col-ml-8,
    .col-ml-9, .col-ml-10, .col-ml-11, .col-ml-12
    {float: right;}

    img{
        width: 200px;
        height: 200px;
    }
            div th{
                font-size: 110%;
            }
        .item-1{
            border: 1px solid black;
            background-color: yellow;
        }
        .item-2{
            border: 1px solid black;
            background-color: rgb(184, 255, 200);
            
        }
        .item-3{
            border: 1px solid black;
            background-color:rgb(151, 120, 221);
        }
        .item-4{
            border: 1px solid black;
            background-color: rgb(230, 160, 128);
        }
        .item-5{
            border: 1px solid black;
            background-color: rgb(255, 220, 249);
        }
.col-ml-1 {width: 8.33%;}
.col-ml-2 {width: 16.66%;}
.col-ml-3 {width: 25%;}
.col-ml-4 {width: 33.3%;}
.col-ml-5 {width: 41.66%;}
.col-ml-6 {width: 50%;}
.col-ml-7 {width: 58.33%;}
.col-ml-8 {width: 66.66%;}
.col-ml-9 {width: 75%;}
.col-ml-10 {width: 83.33%;}
.col-ml-11 {width: 91.66%;}
.col-ml-12 {width: 100%;}

}