.zxc{
    position: relative;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-wrap: wrap;
}



#box1{
    background-color: rgb(255, 200, 184);
    color:rgb(28, 121, 51);
}
#box2{
    background-color: rgb(255, 219, 171);
    color:rgb(11, 11, 142);
}
#box3{
    background-color: rgb(225, 255, 156);
    color:rgb(143, 14, 143);
}
#box4{
    background-color: rgb(182, 254, 252);
    color:rgb(203, 125, 1);

}
#content1{background-color: rgb(101, 217, 124);
    width:250px;
    color: rgb(255, 128, 0);
    font-size: 120%;}
#content2{background-color: rgb(125, 133, 255);
    width:250px;
    color: rgb(255, 0, 0);
    font-size: 120%;}
#content3{background-color: rgb(235, 136, 255);
    width:250px;
    color: rgb(0, 255, 242);
    font-size: 120%;}
#content4{background-color: rgb(255, 116, 121);
    width:250px;
    color: rgb(255, 238, 0);
    font-size: 120%;}
    
.s{font-weight: bold;}




table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}

@media (min-width: 1200px) {
    .col-vlg-3 {
        width: 25%;
    }
}

@media (min-width: 992px) and (max-width: 1199.99px) {
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) { 
    .col-md-6 {
        width: 50%;
    }
}

@media (max-width: 767.99px) {
    .main{
        flex-direction: column;
    }
    .col-sm-12 {
        width: 100%;
    }
}


/*font-family: 'Arimo', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;*/