*{box-sizing: border-box;}
#box{
    background-color: antiquewhite;
    padding: 10px;
    margin: 20px;
    width: 300px;
}
#content{background-color: aquamarine;}
    
.s{font-weight: bold;}




table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}

@media (min-width: 1200px) {
    .col-vlg-3 {
        width: 25%;
    }
}

@media (min-width: 992px) and (max-width: 1199.99px) {
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) { 
    .col-md-6 {
        width: 50%;
    }
}

@media (max-width: 767.99px) {
    .main{
        flex-direction: column;
    }
    .col-sm-12 {
        width: 100%;
    }
}


/*font-family: 'Arimo', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;*/